.carousel-container {
    position: relative;
    margin-bottom: 50px;
}

.carousel {
    overflow: hidden;
    width: 300px;
    height: 300px;
    position: relative;
}

.carousel * {
    pointer-events: none;
    user-select: none;
}